пароль до бд.txt
#history*.log
# Ігноруємо віртуальне середовище (там гігабайти бібліотек)
myvenv/
venv/
env/
*.env
# Ігноруємо кеш пітона
__pycache__/
*.pyc

# Ігноруємо локальну базу даних (якщо не хочеш світити її)
*.sqlite3

# Ігноруємо налаштування редакторів
.vscode/
.idea/
