/* Підключаємо шрифт Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #f4f4f4;
    /* Світло-сірий фон, поки немає картинки */
    font-family: 'Ubuntu', sans-serif;
}

/* Стиль для блоків статей */
.article-block {
    background: #fff;
    color: #383838;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.article-block a {
    color: #383838;
    text-decoration: none;
}

.article-block h3:hover {
    color: #0056b3;
    /* Колір при наведенні */
}

/* Адаптивність для картинок */
img {
    max-width: 100%;
    height: auto;
}