/* Підключаємо шрифт Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-image: url('../img/bg.png');
    /* Ось цей рядок має працювати */
    background-repeat: repeat-y;
    background-size: cover;
    /* Додай це, щоб картинка розтягувалась */
    background-attachment: fixed;
    /* Щоб фон не рухався при прокрутці */
    font-family: 'Ubuntu', sans-serif;
}

/* Стиль для блоків статей */
.article-block {
    background: #fff;
    color: #383838;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.article-block a {
    color: #383838;
    text-decoration: none;
}

.article-block h3:hover {
    color: #0056b3;
    /* Колір при наведенні */
}

/* Адаптивність для картинок */
img {
    max-width: 100%;
    height: auto;
}