{% extends "base.html" %}

{% block content %}

{% if categories %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        {% for item in categories %}
        <a href="{{ item.get_absolute_url }}" style="text-decoration: none;">
            <h4>{{ item.category }}</h4>
        </a>
        {% endfor %}
    </div>
</nav>
{% endif %}

<div class="row">
    <div class="col-12">
        <h1>Свіжі новини</h1>

        {% if articles %}
        {% for item in articles %}
        <div class="article-block">
            <a href="{{ item.get_absolute_url }}">
                <h3>{{ item.title }}</h3>
            </a>
            <h5>{{ item.pub_date|date:"j E Y" }}</h5>
            <p>{{ item.description|safe|striptags|truncatewords_html:32 }}</p>
        </div>
        {% endfor %}
        {% else %}
        <div class="article-block">
            <p>Немає новин.</p>
        </div>
        {% endif %}

        <div class="mt-4 mb-5">
            <a href="{% url 'articles-list' %}" class="btn btn-light">Всі публікації -></a>
        </div>
    </div>
</div>

{% endblock %}